@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #dd6543;
    --color-secondary: #e6efc8;

    --color-dark: #363e48;
    --color-body: #fafafa;
    --color-body-light: #f0f0f0;
    --color-body-dark: #bababa;
    --color-body-darker: #a7a7a7;
  }
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  @apply bg-body;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 1rem;
  padding: 16px;
}

body::-webkit-scrollbar-track {
  background: var(--color-body-light);
}

body::-webkit-scrollbar-thumb:hover {
  background: var(--color-body-darker);
}

body::-webkit-scrollbar-thumb {
  background: var(--color-body-dark);
  border-radius: 50px;
  border: 2px solid var(--color-body-light);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  @apply text-dark selection:bg-primary selection:text-body;
}

.title {
  @apply mb-4 text-4xl font-bold text-dark;
}
.subtitle {
  @apply mb-4 text-lg font-bold text-dark;
}

.title-bold {
  @apply font-bold;
}

.link {
  @apply text-primary hover:underline;
}

.image-container {
  width: 100%;
}

.image-container > div {
  position: unset !important;
}

.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.shape-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.shape-top svg {
  position: relative;
  display: block;
  width: calc(153% + 1.3px);
  height: 85px;
}

.shape-top .shape-fill {
  fill: #fafafa;
}

.shape-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.shape-bottom svg {
  position: relative;
  display: block;
  width: calc(162% + 1.3px);
  height: 144px;
  transform: rotateY(180deg);
}

.shape-bottom .shape-fill {
  fill: #fafafa;
}
