@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-body;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  @apply text-dark;
}

.title {
  @apply text-dark mb-4 text-4xl font-bold;
}
.subtitle {
  @apply text-dark mb-4 text-lg font-bold;
}

.title-bold {
  @apply font-bold;
}

.link {
  @apply text-primary hover:underline;
}

.image-container {
  width: 100%;
}

.image-container > div {
  position: unset !important;
}

.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.shape-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.shape-top svg {
  position: relative;
  display: block;
  width: calc(153% + 1.3px);
  height: 85px;
}

.shape-top .shape-fill {
  fill: #fafafa;
}

.shape-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.shape-bottom svg {
  position: relative;
  display: block;
  width: calc(162% + 1.3px);
  height: 144px;
  transform: rotateY(180deg);
}

.shape-bottom .shape-fill {
  fill: #fafafa;
}
